{% extends "blog/base-sidebar.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      {% for pic in pics %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="#">
              <img class="card-img-top" src="{{ pic.image.url }}">
              <div class="card-body">
                <p class="card-text">{{ pic.user }}</p>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock content %}
