{% extends "blog/base.html" %}

{% block content %}
  <h1> About Blog </h1>
  <p class="article-content">
    Hi all – I am Griffin Ryden. I am from the east coast; Raleigh, North Carolina specifically. I moved out here to Seattle in the fall of 2015, and soon began studying and honing the craft of Audio Engineering ever since my arrival. My decision to move here was something akin to fate; it just happened, and has worked out. I had gone from making music in my room, to learning how to record professionally; all while in Seattle of all places. Recording and mixing music for me is something that I sincerely cherish, and is an art I am always striving to improve upon. On my website, you can find recordings I’ve engineering, edited, and mixed for school, as well as other work that further sheds perspective on my approach to audio engineering. May one appreciate the art the way the artist interprets it.
</p>
  <p class="article-content">
    I am a musician, an engineer, and mixing artist, and can also tackle the role of a producer if needed. I have a lot of experience working within music of all genres, from playing instruments in all genres, to also being skilled in the creation of making beats within the veins of hip hop, trap, electronic, to name a few. I specialize in recording and engineering, however, if needed, can offer my services as a musician or any of the roles mentioned above.
</p>
  <p class="article-content">
    My experience in working with clients, or others on collaborative projects is very open and fluid. If my client has an idea, goal or vision, I am very receptive to how one expresses their desire to achieve this goal, and am willing to do whatever it takes to come to the appropriate destination. I thoroughly enjoy recording, and will dedicate as much time as needed to achieve a great recording, as the amount of time it takes is always variable. Through working with other people, I have observed that some clients are quick to get tracks down, while others need time to get comfortable and into a state of mind; a headspace for their music.
</p>
  <p class="article-content">
    As a musician, I understand these parameters necessary for honest takes of expression, and patience is a skill I have learned to utilize and appreciate. This has become something evident within my experiences with my latest clients, who have bombarded themselves with pressure and the ideal of perfection to get down the ‘perfect’ take. Through this, they needed more time to get comfortable and adjust to the recording space, though one must not forget, “if it sounds good, it sounds good”. Therefore, patience can be an incredibly crucial aspect, and accommodating to the needs and requests of my clients is of my upmost priority; for the sake of the music. With this all said, I am capable of patience if need be, however I also am capable of working fast in quick-paced situations that require quick execution and decisions.
</p>
<p class="article-content">
  Throughout working with audio and musicians and voice talents, it has become apparent to me that the magic of something can happen at any time; whether it’s for a serious take, or simply someone joking around in live room. I always record throughout any session, as you never know what can happen, or what you can do with the unexpected takes. This philosophy for me pertains to sessions I’ve had in the past: where scratch tracks and warm-up tracks have ended up being used in the final mix. You never know what can happen, so I aim to embrace the unknown.
</p>
<p class="article-content">
  All in all, I am easy to work with. If I am requested for just engineering and mixing, I will do just that to the satisfaction of my client. If the client unsure of a performance, take, progression, or a musical phrase, I can assist one through my background in music theory, and my experience as a musician that plays a variety of instruments, such as the guitar, drums, bass, if needed. If the session is quick, and fast-paced, I respond immediately and accordingly. If the artist or client needs time to adjust or get settled, I will do all I can to relieve any self-pressure in assurance of the best performances and best recordings possible.

  For me, the satisfaction and the awe that comes from a client in response to what they have done, along with what I have done to magnify upon that is invaluable. It is an infectiously captivating feeling, and I endeavor to create this experience with everyone whom I work with. If you are an artist, musician, voice talent, or someone with a passionate desire, let’s work together to create and realize your vision. Please feel free to contact and reach out to me at any time, as I look forward to our future creation. Let’s make something today!

</p>
<p class="article-content"></p>
<p class="article-content"></p>
<p class="article-content"></p>
<p class="article-content"></p>
<p class="article-content"></p>
<p class="article-content"></p>
<p class="article-content"></p>
<p class="article-content"></p>
<p class="article-content"></p>
{% endblock content %}
